<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Library</title>
</head>
<body>
    <div>
        <form action="#" th:action="@{/saveLibrary}" th:object="${library}" method="GET">
            name: <input type="text" name="name" th:field="*{name}"/><br/>
            address: <input type="text" name="address" th:field="*{address}"/><br/>
            <button name="submit" type="submit" value="0">Submit</button>
        </form>


    </div>
</body>
</html>